@charset "utf-8";
/* 초기화 */
body, h1, h2, h3, p, ul { margin: 0; padding: 0; }
ul li { list-style: none; }
a { text-decoration: none; }
.hidden { position: absolute; left: -9999px; }
/* 웹폰트 - 나눔고딕*/
body { background: linear-gradient(180deg, #87ceeb, #fff 800px) no-repeat;
      font-family: 'Nanum Gothic', sans-serif; }
/* 전체영역 */
#wrap { width: 960px; margin: 8px auto 0;
        border: 1px solid #e7e7e7; background: #fff; }
/* 헤더 */
#header { height: 280px; background: url(../images/bg_header.png) no-repeat; }
#header h1 { padding: 40px 0 0 22px; color: #ff0;
            font-size: 50px; font-weight: 800; }
/* gnb */
#gnb ul { display: flex; height: 60px; }
#gnb ul li { width: 25%; }
#gnb ul li a { display: block; background: #060; color: #fff;
              text-align: center; line-height: 60px; }
/* 본문 */
main { width: 740px; float: left; }
/* content */
#content { padding: 20px; }
#content article h3 { padding: 25px 0; background: #bdffb0 }
#content article p { margin-bottom: 15px; }
/* photo */
#sidePhoto { width: 220px; float: right; padding: 20px 10px 10px;
            box-sizing: border-box; background: #ddffdd; }
#sidePhoto img { border: 1px solid #ccc; }
/* 푸터 */
#footer { clear: both; padding: 20px 0;
          background: #061f1f; color: #fff;
          text-align: center; }
/* 1023이하 600이상 */
@media screen and (max-width: 1023px) and (min-width: 600px) {
  #wrap { width: 580px; }
  main { width: 100%; float: none; }
  #sidePhoto { width: 100%; float: none; text-align: center; }
  #sidePhoto img { width: 176px; }
}
/* 599이하 */
@media screen and ( max-width: 599px ) {
  body { background: none; }
  #wrap { width: 100%; margin: 0; border: 0; }
  #header { height: 75px; background: #061f1f; }
  #header h1 { padding: 10px 0 0 16px; font-size: 32px;  }
  #gnb ul { display: block; height: auto; padding: 14px 20px 0;}
  #gnb ul li { width: auto;  margin-bottom: 10px;}
  #gnb ul li a { background: none; color: black; border: 1px solid #ccc;  
                line-height: 38px; border-radius: 10px; }
  #gnb ul li a:hover{ background: yellow; }
  main { width: auto; }
  #sidePhoto { background: none; text-align: center; float: left; 
    width: 200px;  display: flex; }
  #sidePhoto img { width: 100%; }
}
